@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bungee&family=Monoton&family=Poppins:wght@200;400;600&family=Righteous&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: #22254b;
    background-image: linear-gradient(135deg, #22254b 10%, #572c7e 40%, #1d557e 100%);
    font-family: 'poppins', sans-serif;
    margin: 0;
    position: absolute;
}

header {
    display: flex;
    justify-content: flex-start;
    padding: 0.7rem 4rem;
}

h1 {
    display: flex;  
    font-style: bold;
    justify-content: left;
    padding: 0.5rem 5rem;
    color: #eee;
    font-family: 'Audiowide', fantasy;
    letter-spacing: 1px;
    animation: neon 10s infinite;
}

@keyframes neon {
    0%, 39%, 41%, 59%, 61%, 100% {
        text-shadow:
        #eee 0 0 12px,
        #ff3add 0 0 24px,
        #ff3add 0 0 36px;
    }
    40%, 60% {
        text-shadow: none;
    } 
}

h2 {
    display: flex;  
    font-style: bold;
    font-size: 2rem;
    margin-top: 5rem;
    justify-content: left;
    padding: 1rem 5rem;
    color: #eee;
    font-family: 'Audiowide', fantasy;
    letter-spacing: 1px;
    animation: neon 10s infinite;
}

@keyframes neon {
    0%, 39%, 41%, 59%, 61%, 100% {
        text-shadow:
        #eee 0 0 12px,
        #ff3add 0 0 24px,
        #ff3add 0 0 36px;
    }
    40%, 60% {
        text-shadow: none;
    } 
}

.search {
    display: flex;
    background-color: transparent;    
    border: 2px solid #fffefe;
    border-radius: 50px;
    width: 400px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.search::placeholder {
    color:#7378c5 ;
}

.search:focus {
    background-color: #7378c5 ;
    outline: none;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movie {
    background-image: linear-gradient( 120deg, #3B2667 10%, #8934c6 100%);
    border-radius: 10px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 265px;
    
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 1px;
}

.movie-info h3 {
    margin: auto;
}

.movie-info span {
    background-color: #22254b;
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}

.movie-info span.green {
    color: rgb(29, 186, 29);
}
.movie-info span.orange {
    color: orange;
}
.movie-info span.red {
    color: rgb(255, 2, 2);
}

.overview {
    background-color: #eee;
    position: absolute;
    padding: 2rem;
    max-height: 50%;
    overflow: auto;
    left: 0%;
    bottom: 0%;
    right: 0%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.overview h3 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
}

.fav-btn, .comment-btn {
    background-color: transparent;
    border: none;
    color: gray;
    cursor: pointer;
    font-size: 1rem;
}

.fav-btn.active {
    color: #ff3add;
}

input, textarea {
    background-color: transparent;
    display: block;
    margin-top: 0.3rem;
    margin-bottom: 0.7rem;
}

::placeholder {
    color:#fff;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
}

form button {
    background: #3B2667;
    color:#fff;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
}

.login {
    background-color: #3B2667;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 198vh;
    padding: 1rem;
    margin-top: 20rem;
    border-radius: 10px;
}

.login form {
    display: flex;
    flex-direction: column;
}

.login input {
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    color: #dbf1fd;
    font-size: 1.2rem;
    padding-left: 1.2rem;
    height: 2rem;
    margin-top: 1rem;
    background-color: #7378c5;
    border: none;
    outline: none;
    border-radius: 1rem;
}

form [type="submit"] {
    display: block;
    background-color: #363a78;
    cursor: pointer;
}

nav {
    font-size: 1.2rem;
}

nav a {
    position: absolute;
    padding-left: 1rem;
    top: 1rem;
    right: 2rem;
}

p {
    color: #dbf1fd;
}

a {
    font-weight: bold;
    color: #8934c6;
    text-decoration: none;
}

p a {
    font-size: 1.2rem;
}




